### Datatypes:

#### 1. Fundamental Datatypes
- int
- float
- complex
- strings
- boolean
- None

===============

#### 2. Derived Datatypes
- Lists
- Tuple
- Dictionary
- Set
- Frozenset

#### Fundamental Dataypes

In [1]:
# integers - whole numbers
num = 10
print(num)
print(type(num))

10
<class 'int'>

In [2]:
# float - real numberes (fraction numbers)
num1 = 20.56
print(num1)
print(type(num1))

20.56
<class 'float'>

In [3]:
# complex numbers
com = 2 + 5j # 2 is real part and 5 is imaginary part
print(com)
print(type(com))

(2+5j)
<class 'complex'>

In [4]:
# boolean
b1 = True #True ---> 1 (any number other than 0)
b2 = False #False ---> 0
print(b1, b2)
print(type(b1))

True False
<class 'bool'>

In [5]:
# NoneType
val = None
print(val)
print(type(val))

None
<class 'NoneType'>

In [6]:
# strings - sequence of characteres within quotes
str1 = 'Hello World'
print(str1)
print(type(str1))

Hello World
<class 'str'>

#### Indexing of a string

Index: Position of a character, index starts from 0. To access each character - [] subscript operator is used

In [7]:
str1[0]

'H'

In [8]:
str1[6]

'W'

In [13]:
#index starts from 0 and ends at (n-1), where n is length of strings
print(len(str1))
print('start of string is', str1[0])
print('end of string is', str1[10])

11
start of string is H
end of string is d

In [14]:
# negative indexing
#  H   e  l  l   o     W  o  r  l d
#-11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

str1[-11]

'H'

#### Derived Datatypes

In [28]:
# Lists : sequence of hetrogenous items/elements, each item is separated by comma
# the itmes are inclosed within []

list1 = ['numbers', 20, 32.5, True, 6-7j]
print(list1)
print(type(list1))

['numbers', 20, 32.5, True, (6-7j)]
<class 'list'>

In [32]:
#indexing can be done on lists too
print(list1[0])
print(list1[-1])
print(list1[3])

numbers
(6-7j)
True

In [34]:
# Tuple - comma separated sequence of hetrogenous elements
#enclosed between () and is immutable

tup1 = ('numbers', 1, 2.5, True)
print(tup1)
print(type(tup1))

('numbers', 1, 2.5, True)
<class 'tuple'>